<div class="center jumbotron">
  <h1>Welcome to MasterChef.com!</h1>
  <p>Everyone loves to eat, but not everyone knows how to cook. MasterChef.com is designed for the manly men out there who are looking to learn the ropes on how to prepare a sumptous meal and become an instant hero! </p>
  <p><a class="btn btn-primary btn-lg">Learn more</a></p>
</div>

<div class="row-fluid">
  <div class="col-sm-4">
    <h4 align="center">Get all the latest recipes in your inbox by Signing up!</h3>
    <h5 align="center">You can also view the recipes as a guest user and <%= link_to "Sign-Up","" %> later.</h4>
    <p align="center"><%= link_to "Browse Recipe Listings", "", class:"btn btn-primary btn-sm" %></p>
  </div>
  <div class="col-sm-4">
    <h4 align="center">Get all the latest recipes in your inbox by Signing up!</h3>
    <h5 align="center">You can also view the recipes as a guest user and <%= link_to "Sign-Up","" %> later.</h4>
    <p align="center"><%= link_to "Browse Recipe Listings", "", class:"btn btn-primary btn-sm" %></p>
  </div>
  <div class="col-sm-4">
    <h4 align="center">Get all the latest recipes in your inbox by Signing up!</h3>
    <h5 align="center">You can also view the recipes as a guest user and <%= link_to "Sign-Up","" %> later.</h4>
    <p align="center"><%= link_to "Browse Recipe Listings", "", class:"btn btn-primary btn-sm" %></p>
  </div>
</div>